/* My Styles */

:root{
    --container-width: 420px;
    --container-height: 420px;
    column-gap: 10px;
}

h1{
    text-align:center ;
}

h2{
    text-align: center;
}



body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #bbd2bc;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3% 8% 3% 8%;
    max-width: 3000px;
}

figure{
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
  }

figcaption{
    position: center;
    top: 85%;
   left: 5%;
    color: #7bd47e;
    font-family: var(--name-font-family);
    font-size: 2em;
    padding: 0.2em;
    z-index: 1;
}

img{
    width: var(--container-width);
    height: var(--container-height);
    object-fit: cover;
    transform: scale(1);
    z-index: 0;
   
    
}


