/* My Styles */

:root{
    --container-width: 400px;
    --container-height: 400px;
   
}

h1{
    text-align:center ;
    line-height: 20px;
    font-family: 'Gambarino-Regular';
    font-size: 6em;
    color:#3c3c3c;
}

h2{
    text-align: center;
    font-family: 'Switzer-Regular';
    font-size: 2em;
    color:#3c3c3c;
}

h3{
    text-align: center;
    font-family: 'Switzer-Light';
font-size:1.5em;
color:#929292;

}


body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #d7ebd8;
}

.gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 3% 8% 3% 8%;
    max-width: 4000px;
}

figure{
    background: #ffffff;
    display: inline-block;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    box-shadow: 0 7px 8px rgba(0, 0, 0, .3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    position: static;
  }

figcaption{
    position: center;
    top: 85%;
   left: 5%;
    color: #67a369;
    font-family: 'Gambarino-Regular';
    font-size: 2em;
    padding: 0.2em;
    z-index: 1;
}

img{
    width: var(--container-width);
    height: var(--container-height);
    object-fit: cover;
    transform: scale(1);
    
}


